@font-face {
  font-family: "Karla Medium";
  src: url("../../../assets/fonts/Karla/static/Karla-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Karla Bold";
  src: url("../fonts/Karla/static/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla Medium", sans-serif;
}

.contact-form-container {
  width: 700px;
}
.contact-form-container form {
  padding: 1rem;
  background: #999;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.contact-form-container form .input-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contact-form-container form .input-group .input-control {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 15px;
}
.contact-form-container form .input-group .input-control input[type=text],
.contact-form-container form .input-group .input-control input[type=email],
.contact-form-container form .input-group .input-control textarea {
  width: 100%;
}
.contact-form-container form .input-group .input-control label {
  background: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}
.contact-form-container form .input-group:nth-of-type(1) .input-control:nth-of-type(1),
.contact-form-container form .input-group:nth-of-type(1) .input-control:nth-of-type(2) {
  grid-column: 1/end;
}
.contact-form-container .success-message {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 100%;
  color: lime;
  background: rgba(0, 0, 0, 0.9);
}
.contact-form-container .success-message h2 {
  width: 100%;
  height: 25%;
}
.contact-form-container .success-message i {
  font-size: 100px;
  margin-top: -900px;
}
.contact-form-container .success-icon-wrapper {
  position: relative;
}
.contact-form-container #topic-success {
  position: absolute;
  display: inline;
  color: rgb(0, 187, 0);
  top: 28%;
  right: 2px;
}
.contact-form-container #phone-success,
.contact-form-container #mail-success,
.contact-form-container #mail-repeat-success {
  position: absolute;
  display: inline;
  color: rgb(0, 187, 0);
  top: 28%;
  right: 9px;
}
.contact-form-container .error {
  background: #fdebeb !important;
  /* color: rgb(165, 0, 0) !important; */
  outline: 1px solid red !important;
}
.contact-form-container .success {
  background: rgb(209, 255, 209);
  color: rgb(0, 85, 0);
}
.contact-form-container .phone-error,
.contact-form-container .mail-error,
.contact-form-container .mail-repeat-error,
.contact-form-container .topic-error,
.contact-form-container .description-error {
  padding: 0.5rem;
  font-size: 12px;
  margin: 2px;
  left: 65%;
  background: #ffe3e3;
  border: 1px solid;
  color: rgb(255, 0, 0);
  display: inline;
}
.contact-form-container input:focus,
.contact-form-container textarea:focus {
  background: #fff8e4;
  outline: 1px solid rgb(255, 199, 78);
}
.contact-form-container #submit {
  width: 150px;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  align-self: center;
  border: none;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.8);
  background: rgba(100, 255, 100, 0.8);
  font-weight: 600;
  font-size: 20px;
  transition: 0.5s;
  border-radius: 5px;
}
.contact-form-container #submit:hover {
  background: rgba(12, 124, 12, 0.8);
  color: #fff;
  border-radius: 15px;
}
.contact-form-container #submit:disabled {
  color: #555;
  background: #aaa;
  box-shadow: none;
}
.contact-form-container #submit:disabled:hover {
  border-radius: 5px;
  background: #aaa;
}/*# sourceMappingURL=main.css.map */