$font-default: "Karla Medium", sans-serif;

@font-face {
  font-family: "Karla Medium";
  src: url("../../../assets/fonts/Karla/static/Karla-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Karla Bold";
  src: url("../../../assets/fonts/Karla/static/Karla-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: bold;
}
