// label focus animation keyframes
@keyframes slideOutLabel {
  0% {
    transform: translate(0, 0);
    font-size: 16px;
  }
  100% {
    transform: translate(-10px, -26px);
    font-size: 12px;
    color: black;
  }
}

@keyframes slideBackInLabel {
  0% {
    transform: translate(-10px, -26px);
    font-size: 12px;
    color: black;
  }
  100% {
    transform: translate(0, 0);
    font-size: 16px;
    color: #777;
  }
}

// label focus animation classes
.test-class-animation {
  // color: black;
  //   padding: 0 5px;
  animation: slideOutLabel 0.4s ease forwards;
}

.test-class-animation-reverse {
  // color: black;
  //   padding: 0 5px;
  animation: slideBackInLabel 0.4s ease forwards;
}
