// label focus animation keyframes
@keyframes labelSlideOut {
  0% {
    transform: translate(0, 0);
    font-size: 16px;
    font-weight: 300;
    color: #777;
  }
  100% {
    transform: translate(-16px, -27px);
    font-size: 12px;
    font-weight: 700;
    color: black;
  }
}

@keyframes labelSlideBackIn {
  0% {
    transform: translate(-16px, -27px);
    font-size: 12px;
    font-weight: 700;
    color: black;
  }
  100% {
    transform: translate(0, 0);
    font-size: 16px;
    font-weight: 300;
    color: #777;
  }
}

// label focus animation classes
.labelSlideOut {
  animation: labelSlideOut 0.4s ease forwards;
}

.labelSlideBackIn {
  animation: labelSlideBackIn 0.4s ease forwards;
}
