// label focus animation keyframes
@keyframes labelSlideOut {
  0% {
    transform: translate(5px, 0);
    font-size: 16px;
    font-weight: 300;
    color: #888;
  }
  100% {
    transform: translate(-11px, -28px);
    font-size: 12px;
    font-weight: 500;
    color: #fff;
  }
}
@keyframes labelSlideBackIn {
  0% {
    transform: translate(-11px, -28px);
    font-size: 12px;
    font-weight: 500;
    color: #fff;
  }
  100% {
    transform: translate(0, 0);
    font-size: 16px;
    font-weight: 300;
    color: #888;
  }
}
// label focus animation classes
.labelSlideOut {
  animation: labelSlideOut 0.4s ease forwards;
}
.labelSlideBackIn {
  animation: labelSlideBackIn 0.4s ease forwards;
}

// standard sized input error keyframe
@keyframes errorMsgShow {
  0% {
    transform: translate(0, 0);
    font-weight: 500;
  }
  100% {
    transform: translate(0, 45px);
    font-weight: bold;
  }
}
// standard sized input error classe
.errorMsgShow {
  animation: errorMsgShow 0.4s ease-in forwards;
}

// captcha slide in keyframe
@keyframes captchaSlideIn {
  0% {
    transform: translate(0, 0);
    background: transparent;
  }
  100% {
    transform: translate(0, 100px);
    background: black;
  }
}

// captcha slide in class
.captchaSlideIn {
  animation: captchaSlideIn 0.5s ease-in-out forwards;
}
